{% extends "protoDebug.html" %}

		{% block sitetitle %}
		<title>Proto Certae</title>
		{% endblock %}
		
		{% block meta %}
		<meta name="description" content="">
		<meta name="author" content="CeRTAE U.Laval">
		{% endblock %}
				
		{% block extrastylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cell.css">
		{% endblock %}
		
		
		{% block configproperties %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/config/configProperties.js"></script>
		{% endblock %}
